<h1><%= @restaurant.name %></h1>

<ul>
<li><%= @restaurant.category %></li>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.phone_number %></li>
</ul>

<div>
  <%= link_to 'Back', restaurants_path %>
  <%= link_to edit_restaurant_path(@restaurant) do%>
    <i class="fa-solid fa-pen-to-square"></i>
  <% end %>
  <%= link_to 'Delete', restaurant_path, data: {turbo_method: :delete, turbo_confirm: 'Are you Sure?'} %>
  <%= link_to 'New review', new_restaurant_review_path(@restaurant) %>
</div>

<div>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.rating %> <%= review.content %></li>
    <% end %>
  </ul>

</div>
